* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  font-family: "Manrope", Arial, sans-serif;
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.container {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 45px;
  overflow: hidden;
}

.container-lg {
  max-width: 1800px;
}

.container-sm {
  max-width: 1200px;
}

body {
  margin: 0;
  position: relative;
}

figure {
  margin: 0;
}

p,
ul,
ol,
figure {
  margin: 0 0 10px 0;
}

* + p,
* + ul,
* + ol,
* + figure {
  margin-top: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.67em 0;
}

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
  margin-top: 0.67em;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

a,
.link {
  color: #000000;
  text-decoration: none;
}

a:hover,
.link:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}

.logo {
  height: 27px;
  width: 90px;
  margin-right: 27px;
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
  h1 {
    font-size: 48px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  h3 {
    font-size: 18px;
  }
  
  h4 {
    font-size: 16px;
  }
  
  h5 {
    font-size: 12px;
  }
}

@media(max-width: 480px) {
  html {
    font-size: 12px;
  }
  .container {
    padding: 0 20px;
  }
  h1 {
    font-size: 24px;
  }
  
  h2 {
    font-size: 18px;
  }
  
  h3 {
    font-size: 16px;
  }
  
  h4 {
    font-size: 14px;
  }
  
  h5 {
    font-size: 10px;
  }
}