.button {
  border: 1px solid #462be2;
  background-color: #462be2;
  font-size: 14px;
  font-weight: 700;
  border-radius: 8px;
  padding: 20px;
  text-transform: uppercase;
}

.button:hover {
  border: 1px solid #462be2;
  background-color: transparent;
}

.button-controller {
  text-align: center;
}

.button a {
  color: #ffffff;
}


.button:hover a {
  color: #000000;
  text-decoration: none;
}

@media(max-width: 480px) {
  .button {
    font-size: 14px;
    width: 100%;
  }
}